@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

.font-poppins {
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .clip-diagonal-right {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  }

  .clip-diagonal-left {
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* TODO: Change the color depending of user preferences */
/* Ajustes al popup de leaflet */
/* .leaflet-popup.custom-popup .leaflet-popup-content-wrapper {
  @apply bg-white rounded-lg p-4 shadow-lg;
}

.leaflet-popup.custom-popup .leaflet-popup-tip {
  @apply bg-white;
} */